/* RESET BÁSICO Y ESTILO GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* CUERPO DEL DOCUMENTO */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-width: 320px; /* Evita que el diseño se rompa al hacer demasiado zoom out */
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Elimina scroll horizontal */
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}
